        <div id="header">                    <!-- this is just bit at top centre containing title (and links if used) -->
            <div class="lefty">
              <a href="/journal/I">  <img class="bannerfloat" src="/stylesheets/images/ip-banner-white_small.png"/> </a>
<!--                <h1 class="tagline"><a href="/journal/[% current.journal %]" title="[% current.title %]">[% current.tagline %]</a></h1> -->
              <div class="tagline">[% current.tagline %]</div>
            </div>
           <div class="righty"><!--<img  src="/styesheets/images/right_ban.png">-->
          
        <!--   <p class="pionpub"><a href="http://www.pion.co.uk"><img src="/stylesheets/images/pionlogo.png"></a>a Pion publication</p>-->
           </div>
            <!--<div id="logo-floater"></div>-->
        </div>
