<h2>Pion journals</h2>
<div class="content"> <!-- descendent on block class, this puts in a small margin, doesn't seem to do much else -->
    <ul class="menu">
        <li class="leaf first"><a href="/journal/I"><i>i</i>-Perception</a></li>        
        <li class="leaf first"><a href="http://www.perceptionweb.com">Perception</a></li> <!-- temp. see : FS#127 -->
        <li class="leaf first"><a href="http://www.envplan.com">Environment and Planning</a></li>
    </ul>
   <br><br>
   <a href='http://www.clockss.org'><img alt='Preserved in CLOCKSS' src='/stylesheets/images/clockss.jpg'></a><br>
   <a href='http://www.crossref.org'><img alt='Crossref member' src='/stylesheets/images/crossref-logo.gif'></a>
   <a href='http://www.info.sciverse.com/scopus/about'><img alt='Indexed in SCOPUS' src='/stylesheets/images/sciversescopus1.jpg'></a>
</div>
