<!--<a href="/rss.cgi?journal=I">-->
<!--<img src="/stylesheets/images/rss_feed.gif" alt="RSS feed" title="Click to sign up to RSS feeds" />-->

<!--</a>-->

<form action="/journal/I/searchresults" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="001833216815542389211:p4r849pnzem" />
    <input type="hidden" name="cof" value="FORID:11" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="20" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>
<br />

                                <!-- AddThis Button BEGIN --> 
                                    <script type="text/javascript">addthis_pub = 'pion';</script> 
                                    <a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="" /></a>
                                    <script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script> 
                                <!-- AddThis Button END --> 

<p><a href="http://feeds.feedburner.com/I-perception" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/I-perception" rel="alternate" type="application/rss+xml" title="Add latest i-Perception contents to your favourite feed reader">Subscribe to feed</a></p><br>
<a href="https://twitter.com/i_Perception" class="twitter-follow-button" data-show-count="false">Follow @i_Perception</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br /:>
<h2>Resources</h2>
<!--<span class="sidebar_head">Resources</span>-->
<div class="content"> <!-- descendent on block class, this puts in a small margin, doesn't seem to do much else -->
    <ul class="menu">
        <li class="leaf first"><a href="/faq/">FAQ</a></li>
        <li class="leaf"><a href="http://submission.perceptionweb.com/supplement/instructions/ip/authors.html">Notes for authors</a></li>
        <li class="leaf"><a href="http://submission.perceptionweb.com">PiMMS (Pion Manuscript Management System)</a></li>
        <li class="leaf"><a href="/faq/02">Editorial board</a></li>
        <li class="leaf"><a href="http://publicationethics.org/files/u2/New_Code.pdf">Publication Ethics and Malpractice Statement</a></li>
        <li class="leaf last"><a href="/faq/11">Email alerting service</a></li>
    </ul>
</div>
