<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
    <meta name="google-site-verification" content="X_TXcxEgNnzcn543Qgg75CttFx4nwwb-A3rxTl2GDCU" />
    <title>[% title or '' %]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all"   href="/stylesheets/defaults.css" />    <!-- takes care of clearing floats -->
    <link type="text/css" rel="stylesheet" media="all"   href="/stylesheets/system-menus.css" /><!-- affects colours of active menu links -->
    <link type="text/css" rel="stylesheet" media="all"   href="/stylesheets/style.css" />       <!-- takes care of main style issues -->
    <link type="text/css" rel="stylesheet" media="print" href="/stylesheets/print.css" /> 
    <link type="application/rss+xml" title="Pion RSS feed" rel="alternate" href="/rss.cgi?journal=I" />

    <!--For Facebook to display the correct icon in its tag-->
    <meta property="og:title" content="[% title or '' %]"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://i-perception.perceptionweb.com/Images/iplogo--twitter.png"/>


</head>
<body class="sidebars"> <!-- without this everything would be left-aligned -->

