[% PROCESS templates/header.tmpl %]

<div id="header-region"></div>             <!-- puts a space at top -->
<div id="wrapper">                         <!-- Wrapper is overall area containing everything else -->
    <div id="container" class="clear-block"> <!-- container is subarea of wrapper which doesn't include dead space on left and right. -->

                          <!--"clear-block" makes block clear float -->
        <div id="header"> <!-- this is just bit at top centre containing title (and links if used) -->
            <div class="lefty">
                <h1><a href="/" title="Pion Ltd"><span>Pion Ltd</span> <font size=+1><b>&#8212; independent publishers of academic journals</b></font></a></h1>
            </div>
            <div id="logo-floater"></div>
        </div>
        <div id="sidebar-left" class="sidebar">
            <div id="block-user-1" class="clear-block block block-user"> <!-- not sure what user bit does (nothing on layout?), block (with content) has small margin -->
                <h2>Pion journals</h2>
                <div class="content">                                    <!-- descendent on block class, this puts in a small margin, doesn't seem to do much else -->
                    <ul class="menu">
                        [% FOREACH item = journals %]
                        <li class="leaf first"><a href="/journal/[% item.journal %]">[% item.title %]</a></li>
                        [% END %]
                    </ul>
                </div>
            </div>
        </div>
        <div id="center"> <!-- the following divs are all descendent -->
            <div id="squeeze">
                <div class="right-corner">
                    <div class="left-corner">
                        <div class="clear-block">
                            <div id="node-5" class="node"> <!-- this puts a line under the text (same colour as background), giving the impression that the block is separated in two-->
                                <h1>Our journals</h1>
                            </div>
                        </div>
 <img src="/stylesheets/images/pionlogo2.png">a <a href="http://www.pion.co.uk">Pion</a> publication
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-right" class="sidebar">
            <div id="block-user-1" class="clear-block block block-user">
                <span id="scrollmenu" style="position:absolute">
                    [% PROCESS templates/_resources.tmpl %]
                </span>
            </div>
        </div>
    </div>
</div>
[% PROCESS templates/footer.tmpl %]
