[% PROCESS templates/header.tmpl title = current.title %]

<div id="header-region"></div>               <!-- puts a space at top -->
<div id="wrapper">                           <!-- Wrapper is overall area containing everything else -->
    <div id="container" class="clear-block"> <!-- container is subarea of wrapper which doesn't include dead space on left and right. -->
                                             <!--"clear-block" makes block clear float -->
        [% PROCESS templates/_headerstuff.tmpl %]
        <div id="sidebar-left" class="sidebar">
            <div class="clear-block block block-user">
            <!--<div id="block-user-1" class="clear-block block block-user"> --><!-- not sure what user bit does (nothing on layout?), block (with content) has small margin -->
                [% PROCESS templates/_tree.tmpl %]
            </div>
        </div>
        <div id="center"> <!-- the following divs are all descendent -->
            <div id="squeeze">
                <div class="right-corner">
                    <div class="left-corner">
                        <div class="clear-block">
                            <div id="node-5" class="node"> <!-- this puts a line under the text (same colour as background), giving the impression that the block is separated in two-->
                                <div id=issn>ISSN [% current.issn_e %]</div>
<!--<div id="cse" style="width: 70%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en', style : google.loader.themes.SHINY});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('001833216815542389211:p4r849pnzem');
    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>-->

                                <h1 class="cont_header">Volume [% current.volume %], issue [% current.issue %] contents</h1>
                                [% IF current.issuetype == 1 %]<p>SPECIAL ISSUE: [% current.heading %]</p><br />[% END %]
                                [% PROCESS templates/_papers.tmpl %]

                            </div>
			    <br></br><br></br><br></br>                          
                            <img src="/stylesheets/images/pionlogo2.png" alt="Pion logo"/>a <a href="http://www.pion.co.uk">Pion</a> publication
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-right" class="sidebar">
            <div class="clear-block block block-user">  <!--removed id=block-user-1-->
                <div id="scrollmenu" style="position:absolute">
                    [% PROCESS templates/_resources.tmpl %]
                    [% PROCESS templates/_journals.tmpl %]
                </div>
            </div>
        </div>
    </div>
</div>
[% PROCESS templates/footer.tmpl %]
